{
    "tabWidth": 4,
    "importOrder": [
        "^react(.*)",
        "^@react(.*)",
        "<THIRD_PARTY_MODULES>",
        "^@stores/(.*)$",
        "^@routes/(.*)$",
        "^@apis/(.*)$",
        "^@utils/(.*)$",
        "^@interfaces/(.*)$",
        "^@typings/(.*)$",
        "^@assets/(.*)$",
        "^@components/(.*)$",
        "^@pages/(.*)$",
        "^@styles/(.*)$",
        "@/(.*)",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
